<h1>Numpy</h1>

<h2 style="color:blue;">Introduction</h2> 

* NumPy is a Python library used for working with arrays​ 
    
 * NumPy was created in 2005 by Travis Oliphant.​ 
    
* It is open source​ 
    
* The array object in NumPy is called ndarray

* NumPy stands for Numerical Python

<h3 style="color:red;">Why use numpy?</h3>

* has array object which is 50x faster than Python list
  
* functions for working in domain of linear algebra, fourier transform, and matrices​
  
* the array object in NumPy is called ndarray

<h3 style="color:red;"> Why numpy is faster? </h3>

 * NumPy arrays are stored at one continuous place in memory unlike lists (locality of reference)
   
 * written in C or C++ for fast computation (python is partially used)

In [ ]:
#install numpy
! pip install numpy

:

In [1]:
! dir

 Volume in drive C is New Volume
 Volume Serial Number is DA9E-831C

 Directory of C:\Users\us\Documents\python_tutorials

12/12/2023  08:06 AM    <DIR>          .
12/12/2023  08:06 AM    <DIR>          ..
12/12/2023  08:00 AM    <DIR>          .ipynb_checkpoints
12/09/2023  04:52 PM    <DIR>          basic_python
12/05/2023  09:51 AM            43,423 Day2_python_basics.ipynb
12/07/2023  07:32 AM            51,630 Day3_python_basics.ipynb
12/07/2023  10:13 AM            28,326 Day4_python_basics.ipynb
12/08/2023  08:17 AM            43,170 Day5_python_basics.ipynb
12/10/2023  08:10 AM            31,250 Day_1_python_basics.ipynb
12/07/2023  10:46 PM            13,086 exercise_python.docx
12/10/2023  08:19 AM    <DIR>          First_git
12/11/2023  10:08 AM            46,594 Github.pptx
12/08/2023  07:43 AM                70 new_file.txt
12/12/2023  08:06 AM            10,238 Numpy.ipynb
12/08/2023  07:22 AM               178 sample.txt.txt
12/12/2023  07:41 AM    <DIR>          Second git
12/11/2023  10:02 AM    <DIR>          test
              10 File(s)        267,965 bytes
               7 Dir(s)  48,041,791,488 bytes free

In [5]:
pwd

'C:\\Users\\us\\Documents\\python_tutorials'

In [6]:
#check numpy version 

import numpy as np

print(np.__version__)

1.21.5

In [7]:
import numpy

arr = numpy.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

In [8]:
 # NumPy is usually imported under the np alias  
# In Python alias are an alternate name for referring to the same thing

import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)
print(type(arr))

[1 2 3 4 5]
<class 'numpy.ndarray'>

<h3 style="color:red;"> Dimensions in Arrays </h3>

<h3 style="color:red;"> 0-D Arrays </h3>

In [10]:
import numpy as np

arr = np.array(42)

print(arr)
# print(arr.ndim, 99999999)

print("The dimension of the above array is :", arr.ndim)

42
0 99999999
The dimension of the above array is : 0

<h3 style="color:red;"> 1-D Arrays </h3>

In [11]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)


print("The dimension of the above array is :", arr.ndim)

[1 2 3 4 5]
The dimension of the above array is : 1

In [14]:
#access 1-D array

print(arr[-3])

3

In [79]:
#slicing 1-D array

arr[1:3]   #arr[-3:-1]

array([2, 3])

<h3 style="color:red;"> 2-D Arrays </h3>

In [16]:
import numpy as np

arr = np.array([[1, 2, 3, 5, 7, 9], [4, 5, 6,1, 7, 8]])

print(arr)

print("The dimension of the above array is :", arr.ndim)

[[1 2 3 5 7 9]
 [4 5 6 1 7 8]]
The dimension of the above array is : 2

In [21]:
#access 2-D array
print(arr[0, 4])

7

In [85]:
#slicing of 2-D array
arr[1, 1:5]

array([5, 6, 1, 7])

<h3 style="color:red;"> 3-D arrays </h3>

In [23]:
import numpy as np

arr = np.array([[[1, 2, 3, 6, 8], [4, 5, 6, 77, 8]], [[1, 2, 3, 5, 7], [4, 5, 6, 2, 4]]])

print(arr)

print("The dimension of the above array is :", arr.ndim)

[[[ 1  2  3  6  8]
  [ 4  5  6 77  8]]

 [[ 1  2  3  5  7]
  [ 4  5  6  2  4]]]
The dimension of the above array is : 3

In [27]:
#access 3-D array
print(arr[0,1,4])

#negative indexing
# print(arr[1,1,-1])

8

In [102]:
#slicing 3-D array

print(arr[0, 0, 1:2])

[2]

In [29]:
#SPECIFY DIMENSION IN ARRAY
import numpy as np

arr = np.array([3, 6, 99], ndmin=3)
print(arr)

[[[ 3  6 99]]]

In [10]:
import numpy as np
arr = np.array([2,3,4,5])
for x in arr
    print (x)

2
3
4
5

In [1]:
import pandas as pd 
df = pd.read_csv('fruits.csv')

print(df)

            productname        date farmprice atlantaretail chicagoretail  \
0          Strawberries  2019-05-19     $1.16         $2.23         $1.70
1       Romaine Lettuce  2019-05-19     $0.35         $1.72         $2.00
2      Red Leaf Lettuce  2019-05-19     $0.32         $1.84         $1.84
3              Potatoes  2019-05-19     $1.50         $5.32         $5.14
4               Oranges  2019-05-19     $0.41         $1.42         $1.45
...                 ...         ...       ...           ...           ...
15761   Broccoli Crowns  1999-10-24     $0.29         $1.46         $0.00
15762  Broccoli Bunches  1999-10-24     $0.23         $1.21         $0.00
15763       Cauliflower  1999-10-24     $0.19         $1.01         $0.00
15764           Carrots  1999-10-24     $0.12         $0.64         $0.00
15765        Cantaloupe  1999-10-24     $0.21         $0.54         $0.00

      losangelesretail newyorkretail averagespread
0                $1.99         $2.54        82.33%
1                $1.69         $1.99       428.57%
2                $1.69         $1.89       467.19%
3                $3.99         $6.22       244.50%
4                $1.34         $2.05       281.71%
...                ...           ...           ...
15761            $0.97         $1.15       208.62%
15762            $0.84         $1.10       242.39%
15763            $0.75         $0.92       252.63%
15764            $0.84         $0.59       331.25%
15765            $0.56         $0.79       125.00%

[15766 rows x 8 columns]

In [3]:
df.head(10)

,productname,date,farmprice,atlantaretail,chicagoretail,losangelesretail,newyorkretail,averagespread
0,Strawberries,2019-05-19,$1.16,$2.23,$1.70,$1.99,$2.54,82.33%
1,Romaine Lettuce,2019-05-19,$0.35,$1.72,$2.00,$1.69,$1.99,428.57%
2,Red Leaf Lettuce,2019-05-19,$0.32,$1.84,$1.84,$1.69,$1.89,467.19%
3,Potatoes,2019-05-19,$1.50,$5.32,$5.14,$3.99,$6.22,244.50%
4,Oranges,2019-05-19,$0.41,$1.42,$1.45,$1.34,$2.05,281.71%
5,Iceberg Lettuce,2019-05-19,$0.35,$1.39,$1.46,$1.69,$1.56,335.71%
6,Green Leaf Lettuce,2019-05-19,$0.31,$1.72,$1.70,$1.69,$1.71,450.00%
7,Celery,2019-05-19,$2.83,$1.89,$2.36,$2.52,$2.49,-18.20%
8,Cauliflower,2019-05-19,$1.22,$3.24,$4.35,$4.03,$2.97,198.98%
9,Carrots,2019-05-19,$0.24,$0.95,$0.95,$0.99,$1.22,328.13%